.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.25rem;
    @media (max-width: 425px) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.me {
    background-size: contain;
    width: inherit;
    height: auto;
    border-radius: 2px;

}