.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.25rem;
    @media (max-width: 425px) {
        display: flex;
        justify-content: center; 
        flex-wrap: wrap;
    }
}

.me {
    // background-size: contain;
    flex: 1;
    width: 100%;
    height: auto;
    border-radius: 2px;
    object-fit: cover;
    @media (max-width: 425px) {
        height: 283px;
    }
    @media (max-width: 375px) {
        height: 250px;
    }
    @media (max-width: 320px) {
        height: 214px;
    }

}