/* .container {
  width: 100%;
  max-width: 50em;
  // margin: 0 auto;
} */


.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
  // padding: 1em 0;
  width: 100%;
}
