.port_text {
    margin-bottom: 6rem;
    max-width: 75%;
    display: grid;
    grid-template-columns: 2fr 4fr;
    h3, p {
        margin: 0;
    }
    @media (max-width: 500px) {
        margin-bottom: 3rem;
        max-width: 85%;
        grid-template-columns: 100%;
        h3 {
            margin-bottom: 1rem;
        }
    }
} 